<header>
    <h1>{{pageTitle}}</h1>
    
    <table style="width:25%">
	    <tr>
	        <th><a href="/">Home</a></th>
	        <th><a href="/about">About</a></th>
	    </tr>
	    <tr>
	        <th><a href="/characterSheet">Character Sheet</a></th>
	        <th><a href="/newProject">Project Page #1</a></th>
	    </tr>
	</table>
</header>


