<header>
    <h1>{{pageTitle}}</h1>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/characterSheet">Character Sheet</a></p>
    <p><a href="/newProject">Project Page #1</a></p>
</header>