    <head>

		<title>Character Sheet - World of Darkness</title>
	</head>
	<body style="">
		<form action="nothing.html" method="post">
		<table cellspacing="0" cellpadding="1" width="100%" class="bordered">
			<tbody><tr>
				<td colspan="6" class="bordered">
					<table width="100%">
						<tbody><tr>
							<td width="25%" align="left" valign="top">
								<span class="tiny">
									<b>Chronicle Established -   /  /    </b><br>
									WoD<br>
									<b>A World of Darkness Chronicle</b>
								</span>
							</td>
							<td width="50%" align="center">
								<span class="large">
								Character Name
								</span><br>
								xxth Generation Clan Name
							</td>
							<td width="25%" align="right" valign="top">
								<span class="tiny">
									Character Created on xx/xx/xxxx <br>
									Played By xx <br>
									xx Active Game Sessions
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr class="bordered">
				<td colspan="2" valign="top" width="33%">
					<b>Nature:</b>	
				</td>
				<td colspan="2" valign="top" width="33%">
					<b>Demeanor:</b> 
				</td>
				<td colspan="2" valign="top" width="33%">
					<b>Concept:</b>	
				</td>
			</tr>
			<tr>
				<th colspan="6" class="bordered">
					Attributes
				</th>
			</tr>
			<tr>
				<td colspan="2" valign="top" width="34%" class="bordered">
					<center><b>Physical</b></center><br>
					
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Strength</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="strength1" checked="">
								<input type="radio" name="strength2">
								<input type="radio" name="strength3">
								<input type="radio" name="strength4">
								<input type="radio" name="strength5">
								<input type="radio" name="strength6">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Dexterity</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="dexterity1" checked="">
								<input type="radio" name="dexterity2">
								<input type="radio" name="dexterity3">
								<input type="radio" name="dexterity4">
								<input type="radio" name="dexterity5">
								<input type="radio" name="dexterity6">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Stamina</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="stamina1" checked="">
								<input type="radio" name="stamina2">
								<input type="radio" name="stamina3">
								<input type="radio" name="stamina4">
								<input type="radio" name="stamina5">
								<input type="radio" name="stamina6">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" width="33%" class="bordered">
					<center><b>Social</b></center><br>
					
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Charisma</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="charisma1" checked="">
								<input type="radio" name="charisma2">
								<input type="radio" name="charisma3">
								<input type="radio" name="charisma4">
								<input type="radio" name="charisma5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Manipulation</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="manipulation1" checked="">
								<input type="radio" name="manipulation2">
								<input type="radio" name="manipulation3">
								<input type="radio" name="manipulation4">
								<input type="radio" name="manipulation5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Appearance</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="appearance1" checked="">
								<input type="radio" name="appearance2">
								<input type="radio" name="appearance3">
								<input type="radio" name="appearance4">
								<input type="radio" name="appearance5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" width="33%" class="bordered">
					<center><b>Mental</b></center><br>
					
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Perception</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="perception1" checked="">
								<input type="radio" name="perception2">
								<input type="radio" name="perception3">
								<input type="radio" name="perception4">
								<input type="radio" name="perception5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Intelligence</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="intelligence1" checked="">
								<input type="radio" name="intelligence2">
								<input type="radio" name="intelligence3">
								<input type="radio" name="intelligence4">
								<input type="radio" name="intelligence5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Wits</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="wits1" checked="">
								<input type="radio" name="wits2">
								<input type="radio" name="wits3">
								<input type="radio" name="wits4">
								<input type="radio" name="wits5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<th colspan="6" class="bordered">
					Virtues
				</th>
			</tr>
			<tr>
				<td colspan="2" valign="top" width="33%" class="bordered">
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Conscience/Conviction</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="conscience1" checked="">
								<input type="radio" name="conscience2">
								<input type="radio" name="conscience3">
								<input type="radio" name="conscience4">
								<input type="radio" name="conscience5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" width="33%" class="bordered">
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Self-Control/Instinct</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="self-control1" checked="">
								<input type="radio" name="self-control2">
								<input type="radio" name="self-control3">
								<input type="radio" name="self-control4">
								<input type="radio" name="self-control5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" width="33%" class="bordered">
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Courage</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="courage1" checked="">
								<input type="radio" name="courage2">
								<input type="radio" name="courage3">
								<input type="radio" name="courage4">
								<input type="radio" name="courage5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<th colspan="6">
					Pools
				</th>
			</tr>
			<tr>
				<td colspan="2" valign="top" class="bordered">
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top" align="center"><span class="tiny">Humanity/Path</span><br>
								<span class="fine">
								<input type="radio" name="humanity1" checked="">
								<input type="radio" name="humanity2">
								<input type="radio" name="humanity3">
								<input type="radio" name="humanity4">
								<input type="radio" name="humanity5">
								<input type="radio" name="humanity6">
								<input type="radio" name="humanity7">
								<input type="radio" name="humanity8">
								<input type="radio" name="humanity9">
								<input type="radio" name="humanity10">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" class="bordered">
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top" align="center"><span class="tiny">Willpower</span><br>
								<span class="fine">
								<input type="radio" name="willpower1" checked="">
								<input type="radio" name="willpower2">
								<input type="radio" name="willpower3">
								<input type="radio" name="willpower4">
								<input type="radio" name="willpower5">
								<input type="radio" name="willpower6">
								<input type="radio" name="willpower7">
								<input type="radio" name="willpower8">
								<input type="radio" name="willpower9">
								<input type="radio" name="willpower10">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top" align="center">
								<span class="fine">
								<input type="checkbox" name="willpower_box1">
								<input type="checkbox" name="willpower_box2">
								<input type="checkbox" name="willpower_box3">
								<input type="checkbox" name="willpower_box4">
								<input type="checkbox" name="willpower_box5">
								<input type="checkbox" name="willpower_box6">
								<input type="checkbox" name="willpower_box7">
								<input type="checkbox" name="willpower_box8">
								<input type="checkbox" name="willpower_box9">
								<input type="checkbox" name="willpower_box10">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" class="bordered">
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top" align="center"><span class="tiny">Blood Pool (10/1)</span><br>
								<span class="fine">
								<input type="checkbox" name="bloodpool_box1">
								<input type="checkbox" name="bloodpool_box2">
								<input type="checkbox" name="bloodpool_box3">
								<input type="checkbox" name="bloodpool_box4">
								<input type="checkbox" name="bloodpool_box5">
								<input type="checkbox" name="bloodpool_box6">
								<input type="checkbox" name="bloodpool_box7">
								<input type="checkbox" name="bloodpool_box8">
								<input type="checkbox" name="bloodpool_box9">
								<input type="checkbox" name="bloodpool_box10">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<th colspan="6" class="bordered">
					Abilities
				</th>
			</tr>
			<tr>
				<td colspan="2" valign="top" class="bordered">
				<center><b>Talents</b></center><br>
					
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Alertness</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="alertness1">
								<input type="radio" name="alertness2">
								<input type="radio" name="alertness3">
								<input type="radio" name="alertness4">
								<input type="radio" name="alertness5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Athletics</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="athletics1">
								<input type="radio" name="athletics2">
								<input type="radio" name="athletics3">
								<input type="radio" name="athletics4">
								<input type="radio" name="athletics5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Brawl</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="brawl1">
								<input type="radio" name="brawl2">
								<input type="radio" name="brawl3">
								<input type="radio" name="brawl4">
								<input type="radio" name="brawl5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Dodge</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="dodge1">
								<input type="radio" name="dodge2">
								<input type="radio" name="dodge3">
								<input type="radio" name="dodge4">
								<input type="radio" name="dodge5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Empathy</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="empathy1">
								<input type="radio" name="empathy2">
								<input type="radio" name="empathy3">
								<input type="radio" name="empathy4">
								<input type="radio" name="empathy5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Expression</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="expression1">
								<input type="radio" name="expression2">
								<input type="radio" name="expression3">
								<input type="radio" name="expression4">
								<input type="radio" name="expression5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Intimidation</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="intimidation1">
								<input type="radio" name="intimidation2">
								<input type="radio" name="intimidation3">
								<input type="radio" name="intimidation4">
								<input type="radio" name="intimidation5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Leadership</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="leadership1">
								<input type="radio" name="leadership2">
								<input type="radio" name="leadership3">
								<input type="radio" name="leadership4">
								<input type="radio" name="leadership5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Streetwise</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="streetwise1">
								<input type="radio" name="streetwise2">
								<input type="radio" name="streetwise3">
								<input type="radio" name="streetwise4">
								<input type="radio" name="streetwise5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Subterfuge</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="subterfuge1">
								<input type="radio" name="subterfuge2">
								<input type="radio" name="subterfuge3">
								<input type="radio" name="subterfuge4">
								<input type="radio" name="subterfuge5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" class="bordered">
				<center><b>Skills</b></center><br>
					
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Animal Ken</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="animal_ken1">
								<input type="radio" name="animal_ken2">
								<input type="radio" name="animal_ken3">
								<input type="radio" name="animal_ken4">
								<input type="radio" name="animal_ken5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Crafts</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="crafts1">
								<input type="radio" name="crafts2">
								<input type="radio" name="crafts3">
								<input type="radio" name="crafts4">
								<input type="radio" name="crafts5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Drive</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="drive1">
								<input type="radio" name="drive2">
								<input type="radio" name="drive3">
								<input type="radio" name="drive4">
								<input type="radio" name="drive5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Etiquette</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="etiquette1">
								<input type="radio" name="etiquette2">
								<input type="radio" name="etiquette3">
								<input type="radio" name="etiquette4">
								<input type="radio" name="etiquette5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Firearms</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="firearms1">
								<input type="radio" name="firearms2">
								<input type="radio" name="firearms3">
								<input type="radio" name="firearms4">
								<input type="radio" name="firearms5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Melee</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="melee1">
								<input type="radio" name="melee2">
								<input type="radio" name="melee3">
								<input type="radio" name="melee4">
								<input type="radio" name="melee5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Performance</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="performance1">
								<input type="radio" name="performance2">
								<input type="radio" name="performance3">
								<input type="radio" name="performance4">
								<input type="radio" name="performance5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Security</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="security1">
								<input type="radio" name="security2">
								<input type="radio" name="security3">
								<input type="radio" name="security4">
								<input type="radio" name="security5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Stealth</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="stealth1">
								<input type="radio" name="stealth2">
								<input type="radio" name="stealth3">
								<input type="radio" name="stealth4">
								<input type="radio" name="stealth5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Survival</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="survival1">
								<input type="radio" name="survival2">
								<input type="radio" name="survival3">
								<input type="radio" name="survival4">
								<input type="radio" name="survival5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
				<td colspan="2" valign="top" class="bordered">
				<center><b>Knowledges</b></center><br>
					
					<table border="0" width="100%">
						<tbody><tr>
							<td valign="top"><span class="tiny">Academics</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="academics1">
								<input type="radio" name="academics2">
								<input type="radio" name="academics3">
								<input type="radio" name="academics4">
								<input type="radio" name="academics5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Computer</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="computer1">
								<input type="radio" name="computer2">
								<input type="radio" name="computer3">
								<input type="radio" name="computer4">
								<input type="radio" name="computer5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Finance</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="finance1">
								<input type="radio" name="finance2">
								<input type="radio" name="finance3">
								<input type="radio" name="finance4">
								<input type="radio" name="finance5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Investigation</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="investigation1">
								<input type="radio" name="investigation2">
								<input type="radio" name="investigation3">
								<input type="radio" name="investigation4">
								<input type="radio" name="investigation5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Law</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="law1">
								<input type="radio" name="law2">
								<input type="radio" name="law3">
								<input type="radio" name="law4">
								<input type="radio" name="law5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Linguistics</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="linguistics1">
								<input type="radio" name="linguistics2">
								<input type="radio" name="linguistics3">
								<input type="radio" name="linguistics4">
								<input type="radio" name="linguistics5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Medicine</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="medicine1">
								<input type="radio" name="medicine2">
								<input type="radio" name="medicine3">
								<input type="radio" name="medicine4">
								<input type="radio" name="medicine5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Occult</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="occult1">
								<input type="radio" name="occult2">
								<input type="radio" name="occult3">
								<input type="radio" name="occult4">
								<input type="radio" name="occult5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Politics</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="politics1">
								<input type="radio" name="politics2">
								<input type="radio" name="politics3">
								<input type="radio" name="politics4">
								<input type="radio" name="politics5">
								</span>
							</td>
						</tr>
						<tr>
							<td valign="top"><span class="tiny">Science</span></td>
							<td valign="top">
								<span class="fine">
								<input type="radio" name="science1">
								<input type="radio" name="science2">
								<input type="radio" name="science3">
								<input type="radio" name="science4">
								<input type="radio" name="science5">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td colspan="4" valign="top" class="bordered">
					<table class="bordered" cellspacing="0" cellpadding="1" width="100%">
						<tbody><tr>
							<th colspan="2" width="100%" class="bordered">
								Advantages
							</th>
						</tr>
						<tr>
							<td valign="top" width="50%" class="bordered">
								<center><b>Disciplines</b></center><br>
							
								<table border="0" width="100%">
									<tbody><tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="discipline1">
											<input type="radio" name="discipline1a">
											<input type="radio" name="discipline1b">
											<input type="radio" name="discipline1c">
											<input type="radio" name="discipline1d">
											</span>
										</td>
									</tr>
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="discipline2">
											<input type="radio" name="discipline2a">
											<input type="radio" name="discipline2b">
											<input type="radio" name="discipline2c">
											<input type="radio" name="discipline2d">
											</span>
										</td>
									</tr>
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="discipline3">
											<input type="radio" name="discipline3a">
											<input type="radio" name="discipline3b">
											<input type="radio" name="discipline3c">
											<input type="radio" name="discipline3d">
											</span>
										</td>
									</tr>
								</tbody></table>
							</td>
							<td valign="top" width="50%" class="bordered">
								<center><b>Backgrounds</b></center><br>
					
								<table border="0" width="100%">
									<tbody><tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="background1">
											<input type="radio" name="background1a">
											<input type="radio" name="background1b">
											<input type="radio" name="background1c">
											<input type="radio" name="background1d">
											</span>
										</td>
									</tr>
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="background2">
											<input type="radio" name="background2a">
											<input type="radio" name="background2b">
											<input type="radio" name="background2c">
											<input type="radio" name="background2d">
											</span>
										</td>
									</tr>
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="background3">
											<input type="radio" name="background3a">
											<input type="radio" name="background3b">
											<input type="radio" name="background3c">
											<input type="radio" name="background3d">
											</span>
										</td>
									</tr>
							</tbody></table>
							</td>
						</tr>
						<!--- <tr>
							<td valign="top" width="50%" class="bordered">
								<center><b>Thaumaturgic Paths</b></center><br>
							
								<table border="0" width="100%">
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="path1">
											<input type="radio" name="path1a">
											<input type="radio" name="path1b">
											<input type="radio" name="path1c">
											<input type="radio" name="path1d">
											</span>
										</td>
									</tr>
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="path2">
											<input type="radio" name="path2a">
											<input type="radio" name="path2b">
											<input type="radio" name="path2c">
											<input type="radio" name="path2d">
											</span>
										</td>
									</tr>
									<tr>
										<td valign="top"><span class="tiny"></span></td>
										<td valign="top">
											<span class="fine">
											<input type="radio" name="path3">
											<input type="radio" name="path3a">
											<input type="radio" name="path3b">
											<input type="radio" name="path3c">
											<input type="radio" name="path3d">
											</span>
										</td>
									</tr>
								</table>
							</td>
							<td valign="top" width="50%" class="bordered">
								<table border="2" cellspacing="noshade" width="100%">
									<tr>
										<th colspan="2" align="center">
											Rituals
										</th>
									</tr>
									<tr>
										<th align="center" width="90%">
											Name
										</th>
										<th align="center" width="10%">
											Level
										</th>
									</tr>
									<tr>
										<td>
											&nbsp;
										</td>
										<td align="center">
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											&nbsp;
										</td>
										<td align="center">
											&nbsp;
										</td>
									</tr>
									<tr>
										<td>
											&nbsp;
										</td>
										<td align="center">
											&nbsp;
										</td>
									</tr>
								</table>
							</td>
						</tr> --->
					</tbody></table>
				</td>
				<td colspan="2" valign="top" class="bordered">
					<table class="bordered" border="0" width="100%">
						<tbody><tr>
							<th colspan="3" class="bordered">Health</th>
						</tr>
						<tr>
							<td>Bruised</td>
							<td>&nbsp;</td>
							<td><input type="checkbox" name="health1"></td>
						</tr>
						<tr>
							<td>Hurt</td>
							<td>-1</td>
							<td><input type="checkbox" name="health2"></td>
						</tr>
						<tr>
							<td>Injured</td>
							<td>-1</td>
							<td><input type="checkbox" name="health3"></td>
						</tr>
						<tr>
							<td>Wounded</td>
							<td>-2</td>
							<td><input type="checkbox" name="health4"></td>
						</tr>
						<tr>
							<td>Mauled</td>
							<td>-2</td>
							<td><input type="checkbox" name="health5"></td>
						</tr>
						<tr>
							<td>Crippled</td>
							<td>-5</td>
							<td><input type="checkbox" name="health6"></td>
						</tr>
						<tr>
							<td>Incapacitated</td>
							<td>&nbsp;</td>
							<td><input type="checkbox" name="health7"></td>
						</tr>
					</tbody></table>
					
					<p>
					</p><center>
					<table class="bordered" cellspacing="0" cellpadding="1" width="100%">
						<tbody><tr>
							<th colspan="10" class="bordered">Initiative</th>
						</tr>
						<tr>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
							<td width="10%" class="bordered">&nbsp;</td>
						</tr>
					</tbody></table>
					</center>
				</td>
			</tr>
		</tbody></table><br>
		
		<table class="bordered" cellspacing="0" cellpadding="1" width="100%">
			<tbody><tr>
				<th colspan="2" class="bordered">
					Combat
				</th>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<table class="bordered" cellspacing="0" cellpadding="1" width="100%">
						<tbody><tr>
							<th class="tiny-bordered" width="50%">
								Weapon
							</th>
							<th class="tiny-bordered" width="10%">
								Difficulty
							</th>
							<th class="tiny-bordered" width="10%">
								Damage
							</th>
							<th class="tiny-bordered" width="10%">
								Range
							</th>
							<th class="tiny-bordered" width="10%">
								Rate
							</th>
							<th class="tiny-bordered" width="10%">
								Magazine
							</th>
							<th class="tiny-bordered" width="10%">
								Conceal
							</th>
						</tr>
						<tr>
							<td>Strike</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">Str</td> <!--- DAMAGE --->
							<td align="center">n/a</td> <!--- RANGE --->
							<td align="center">1</td> <!--- RATE --->
							<td align="center">n/a</td> <!--- MAGAZINE --->
							<td align="center">n/a</td> <!--- CONCEAL --->
						</tr>
						<tr class="odd-row">
							<td>Kick</td> <!--- WEAPON --->
							<td align="center">7</td> <!--- DIFFICULTY --->
							<td align="center">Str +1</td> <!--- DAMAGE --->
							<td align="center">n/a</td> <!--- RANGE --->
							<td align="center">1</td> <!--- RATE --->
							<td align="center">n/a</td> <!--- MAGAZINE --->
							<td align="center">n/a</td> <!--- CONCEAL --->
						</tr>
						<tr>
							<td>Bite (requires successful Clinch, Hold or Tackle)</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">Str +1(A)</td> <!--- DAMAGE --->
							<td align="center">n/a</td> <!--- RANGE --->
							<td align="center">1</td> <!--- RATE --->
							<td align="center">n/a</td> <!--- MAGAZINE --->
							<td align="center">n/a</td> <!--- CONCEAL --->
						</tr>
						<tr>
							<td>Silver Combat Knife</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">Str +1</td> <!--- DAMAGE --->
							<td align="center">n/a</td> <!--- RANGE --->
							<td align="center">1</td> <!--- RATE --->
							<td align="center">n/a</td> <!--- MAGAZINE --->
							<td align="center">J</td> <!--- CONCEAL --->
						</tr>
						<tr>
							<td>&nbsp;</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">&nbsp;</td> <!--- DAMAGE --->
							<td align="center">&nbsp;</td> <!--- RANGE --->
							<td align="center">&nbsp;</td> <!--- RATE --->
							<td align="center">&nbsp;</td> <!--- MAGAZINE --->
							<td align="center">&nbsp;</td> <!--- CONCEAL --->
						</tr>
						<tr class="odd-row">
							<td>&nbsp;</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">&nbsp;</td> <!--- DAMAGE --->
							<td align="center">&nbsp;</td> <!--- RANGE --->
							<td align="center">&nbsp;</td> <!--- RATE --->
							<td align="center">&nbsp;</td> <!--- MAGAZINE --->
							<td align="center">&nbsp;</td> <!--- CONCEAL --->
						</tr>
						<tr>
							<td>&nbsp;</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">&nbsp;</td> <!--- DAMAGE --->
							<td align="center">&nbsp;</td> <!--- RANGE --->
							<td align="center">&nbsp;</td> <!--- RATE --->
							<td align="center">&nbsp;</td> <!--- MAGAZINE --->
							<td align="center">&nbsp;</td> <!--- CONCEAL --->
						</tr>
						<tr class="odd-row">
							<td>&nbsp;</td> <!--- WEAPON --->
							<td align="center">6</td> <!--- DIFFICULTY --->
							<td align="center">&nbsp;</td> <!--- DAMAGE --->
							<td align="center">&nbsp;</td> <!--- RANGE --->
							<td align="center">&nbsp;</td> <!--- RATE --->
							<td align="center">&nbsp;</td> <!--- MAGAZINE --->
							<td align="center">&nbsp;</td> <!--- CONCEAL --->
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td width="50%" class="bordered">
					<b>Gear (Carried):</b><p>
					
					<span class="tiny">
						Silver Combat Knife
					</span></p><p>

					<b>Armor (Worn):</b></p><p>
					
					<span class="tiny">
					</span></p><p>
					
					<b>Equipment (Owned):</b></p><p>
					
					<span class="tiny">
					</span></p><p>
					
					<b>Vehicles:</b></p><p>
					
					<span class="tiny">
					</span></p><p>
				</p></td>
				<td width="50%" class="bordered">
					<center><b>Merits/Flaws</b></center>

					<p>
					<span class="tiny">
					
					</span>
					</p><p>
					
					</p><center><b>Clan Weakness</b></center>
					
					<p>
					<span class="tiny">
					
					</span>					
					</p><p>
					
					</p><center><b>Derangements</b></center><p>
					
					<span class="tiny">
					None
					</span></p><p>
					
					</p><center><b>Experience Points</b></center><p>
					
					<span class="tiny">
					<b>Current Total:</b>  <br>
					<b>Total Spent:</b> 
					</span>
				</p></td>
			</tr>
			<tr>
				<td valign="top" width="50%" class="bordered">
					<b>Humanity Hierarchy of Sin</b>
					<ol>
						<li value="10">Selfish thoughts
						</li><li value="9">Minor selfish acts
						</li><li value="8">Injury to another (accidental or otherwise)
						</li><li value="7">Theft
						</li><li value="6">Accidental violation (drinking a vessel dry out of starvation)
						</li><li value="5">Intentional property damage
						</li><li value="4">Impassioned violation (manslaughter, killing a vessel in frenzy)
						</li><li value="3">Planned violation (outright murder, savored exsanguination)
						</li><li value="2">Casual violation (thoughtless killing, feeding past satiation)
						</li><li value="1">Utter perversion or heinous acts
					</li></ol>
				</td>
				<td valign="top" width="50%" class="bordered">
					<table class="bordered" cellspacing="0" cellpadding="1" width="90%">
						<tbody><tr>
							<th align="center" colspan="2" class="bordered">Blood Bonds</th>
						</tr>
						<tr>
							<th align="center" class="bordered">Bound To</th>
							<th align="center" class="bordered">Rating</th>
						</tr>
						<tr>
							<td>Sire</td>
							<td align="center">
								<span class="fine">
								<input type="radio" name="bond1" checked="">
								<input type="radio" name="bond1a">
								<input type="radio" name="bond1b">
								</span>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table><br>
		
		<table class="bordered" cellspacing="0" cellpadding="1" width="100%">
			<tbody><tr>
				<th colspan="6" width="100%" class="bordered">
					Biography
				</th>
			</tr>
			<tr>
				<td colspan="2">
					<b>Age:</b>  <br>
					<b>Apparent Age:</b>  <br>
					<b>Date of Birth:</b>  <br>
					<b>RIP:</b>  <br>
				</td>
				<td colspan="2">
					<b>Hair:</b>  <br>
					<b>Eyes:</b> <br>
					<b>Race:</b>  <br>
					<b>Nationality:</b>   <br>
				</td>
				<td colspan="2">
					<b>Height:</b>  <br>
					<b>Weight:</b>  <br>
					<b>Sex:</b>  <br>
					<b>Sire:</b> 
				</td>
			</tr>
			<tr>
				<td colspan="3" valign="top" class="bordered" width="50%">
					<b>Criminal Activities:</b><p>
					
					<span class="tiny">
					&nbsp;
					</span>
				</p></td>
				<td colspan="3" valign="top" class="bordered" width="50%">
					<b>Deaths Caused:</b><p>
				
					<span class="tiny">
					&nbsp;
					</span>
				</p></td>
			</tr>
			<tr>
				<td class="bordered" colspan="6">
				<!--- CHARACTER HISTORY --->
				</td>
			</tr>
		</tbody></table>
		</form>