<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>wbp - Project</title>
    </head>
    <body>
        {{> header}}
    	<p>Project Page</p>
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/xQjqImHruJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>


    {{> footer}}
    </body>
</html>